spring:
  application:
    name: authorization-service
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/eventdb
    username: postgres
    password: password
    pool:
      initial-size: 10
      max-size: 100
      max-idle-time: 30m
      max-acquire-time: 10s
      max-create-connection-time: 10s
      validation-query: SELECT 1
  sql:
    init:
      mode: never

server:
  port: 8082

logging:
  level:
    root: WARN
    org.springframework.r2dbc: WARN
    io.r2dbc.postgresql.QUERY: WARN
