spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/eventdb
    username: postgres
    password: password
  sql:
    init:
      mode: never
  elasticsearch:
    uris: http://localhost:9200

server:
  port: 8080

logging:
  level:
    org.springframework.r2dbc: DEBUG
    io.r2dbc.postgresql.QUERY: DEBUG