/* Create form specific styles */

.form-container {
    padding: 40px;
}

.form-group textarea {
    resize: vertical;
    height: 120px;
    font-family: inherit;
}

.form-description {
    color: #6c757d;
    margin-bottom: 30px;
    line-height: 1.5;
}

.required {
    color: #dc3545;
}